html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
:root {
  --gradient-background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 84, 167, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  --color: rgb(2, 0, 36);
}
